.ldBar {
    position: relative;
}
    .ldBar.label-center > .ldBar-label {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-shadow: 0 0 3px #fff;
        stroke: #be4d25;
        stroke-width: 10;
    }
.ldBar-label:after {
  content: "%";
  display: inline;
}

.ldBar-label {
    color: #09f;
    font-family: 'varela round';
    font-size: 2.5em;
    font-weight: 900;
}

.ldBar.no-percent .ldBar-label:after {
  content: "";
}
